body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(32, 130, 199);
}

h1 {
    text-align: center;
    padding-bottom: 3%;
    color: rgb(255, 255, 255);
    margin-bottom: -1%;
}

form {
    padding: 2%;
    width: 30%;
    background-color: rgb(96, 199, 217);
    border: 0;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3%;
}

label {
    color: rgb(255, 255, 255);
}

input, select {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

#resultado {
    text-align: center;
    font-size: 25px;
    padding: 5%;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(42, 143, 160);
    padding: 2%;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    margin-top: 50px;
}

button:hover {
    cursor: pointer;
    color: rgb(243, 243, 243);
    background: rgb(44, 158, 178);
    padding: 2%;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
}

img {
    margin-top: -50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
}